<!--Carousel element -->
<%= render 'layouts/carousel' %>
<ol class="blogs">
	<%= render @blogs %>
</ol>
<%= will_paginate @blogs %>


<%= form_for(Blog.new) do |f| %>


<div class="field">
<%= f.text_area :content, placeholder: "Напишіть новий блог" %>
</div>
<%= f.submit "Додати", class: "btn btn-primary" %>
<% end %>


