<header>
	<nav class = "navbar navbar-expand-md navbar-dark bg-dark">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-link"><%= link_to "Головна", root_path %></li>
				<li class="nav-link"><%= link_to "Блог", show_path %></li>
				<li class="nav-link"><%= link_to "Контакти", contact_path %></li>
			</ul>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">				
				<li class="nav-link"><%= link_to "Увійти", new_user_session_path %></li>
				<li class="nav-link"><%= link_to "Зареєструватись", new_user_registration_path %></li>
				<li class="nav-link"><%= link_to "Вийти", destroy_user_session_path%></li>
			</ul>
		</div>
	</nav>
</header>